<div class="post_summary">
    <div class="top_container">
    <div id="date"><?php echo $post->getPublishedFormated();?>:</div>
    <div id="title"><?php echo $post->getTitle();?></div>
    </div>
    <div class="clear"></div>
    <div id="content"><?php echo $post->getContent();?></div>
    <div class="clear"></div>
    <div class="container">
        <div id="author">Author: Damijan Cavar</div>
        <div id="comments"><?php echo $post->getNumberOfComments();?> comments</div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>